<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <title> Simple Auth - {% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('home')}}">Login APP</a>
            <ul class="nav navbar-nav navbar-right">

                {% if current_user.is_authenticated %}
                    <li class="nav-link ">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    <li class=" nav-link">
                        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                {% else %}
                    <li class=" nav-link">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class=" nav-link">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </nav>

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    
        {% endwith %}
    </div>
    {% block main %}

    
    {%endblock%}

</body>

</html>
